{% extends 'backend/base_page.html' %}
{% block title %}
    所有考场
{% endblock %}
{% block main_content %}
    <script>
        function test_create() {
            $('#test_create_testpaper').empty();
            {% for testpaper_id, testpaper_name in testpapers.items %}
                $("#test_create_testpaper").append($("<option>").val({{ testpaper_id }}).text("{{ testpaper_name }}"));
            {% endfor %}
            $('#test_create').modal('show');
        }

        function create_validation() {
            if ($("#test_create_name").val() == '') {
                $('#error_test_name').html("考场名称不能为空");
                $('#error_test_name').show();
            } else {
                $('#error_test_name').html("");
                $('#error_test_name').hide();
            }
            if ($("#test_create_duration").val() == '') {
                $("#error_test_duration").html("考试时长不能为空");
                $("#error_test_duration").show()
            } else {
                $("#error_test_duration").html("");
                $("#error_test_duration").hide()
            }
            $("#error_test_start_time").html("");
            $("#error_test_start_time").hide();
            $("#error_test_close_time").html("");
            $("#error_test_close_time").hide();

        }

        function create() {
            create_validation();
            if ($("#error_test_name").is(":hidden")
                && $("#error_test_duration").is(":hidden")) {
                var form = new FormData(document.getElementById('test_create_form'));
                $.ajax({
                    type: "POST",
                    url: "{% url 'Manage:test_create' %}",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        switch (result) {
                            case 0:
                                $("#error_test_duration").html("考试时长不能为负或大于300分钟");
                                $("#error_test_duration").show();
                                break;
                            case 1:
                                $("#error_test_start_time").html("考试开始时间信息不全");
                                $("#error_test_start_time").show();
                                break;
                            case 2:
                                $("#error_test_close_time").html("考试截止时间信息不全");
                                $("#error_test_close_time").show();
                                break;
                            case 3:
                                $("#error_test_start_time").html("考试年份过大");
                                $("#error_test_start_time").show();
                                break;
                            case 4:
                                $("#error_test_close_time").html("考试年份过大");
                                $("#error_test_close_time").show();
                                break;
                            case 5:
                                $("#error_test_start_time").html("考试开始时间不能早于当前时间");
                                $("#error_test_start_time").show();
                                break;
                            case 6:
                                $("#error_test_close_time").html("考试截止日期不能早于当前时间");
                                $("#error_test_close_time").show();
                                break;
                            case 7:
                                $("#error_test_close_time").html("考试截止日期不能早于开始时间");
                                $("#error_test_close_time").show();
                                break;
                            case 8:
                                $('#dataTables-example').DataTable().ajax.reload();
                                $('#test_create').modal('hide');
                                break;
                            default:
                                alert("validation code not found")
                        }
                    },
                    error: function (result) {
                        alert("test create error")
                    }
                });
            }
        }

        function test_modify(test_id) {
            $('#test_modify_testpaper').empty();
            {% for testpaper_id, testpaper_name in testpapers.items %}
                $("#test_modify_testpaper").append($("<option>").val({{ testpaper_id }}).text("{{ testpaper_name }}"));
            {% endfor %}
            $('#test_modify_id').val(test_id);
            $.ajax({
                type: "POST",
                url: "/Manage/test/test_modify_dict/" + test_id,
                success: function (result) {
                    result = JSON.parse(result);
                    $('#test_modify_name').val(result.name);
                    $('#test_modify_testpaper').val(result.testpaper);
                    $('#test_modify_duration').val(result.duration);
                    $('#test_modify_start_time').val(result.start_time);
                    $('#test_modify_close_time').val(result.close_time);
                    if (result.status == 1) {
                        $('#test_modify_testpaper').attr('disabled', 'disabled');
                        $('#test_modify_start_time').attr('disabled', 'disabled');
                    } else if (result.status == 2) {
                        $('#test_modify_name').attr('disabled', 'disabled');
                        $('#test_modify_duration').attr('disabled', 'disabled');
                        $('#test_modify_testpaper').attr('disabled', 'disabled');
                        $('#test_modify_start_time').attr('disabled', 'disabled');
                        $('#test_modify_close_time').attr('disabled', 'disabled');
                    }
                },
                error: function (result) {
                    alert('test modify error')
                }

            });
            $('#test_modify').modal('show');
        }

        function modify_validation() {
            if ($("#test_modify_name").val() == '') {
                $('#error_modify_test_name').html("考场名称不能为空");
                $('#error_modify_test_name').show();
            } else {
                $('#error_modify_test_name').html("");
                $('#error_modify_test_name').hide();
            }
            if ($("#test_modify_create_duration").val() == '') {
                $("#error_modify_test_duration").html("考试时长不能为空");
                $("#error_modify_test_duration").show()
            } else {
                $("#error_modify_test_duration").html("");
                $("#error_modify_test_duration").hide()
            }
            $("#error_modify_test_start_time").html("");
            $("#error_modify_test_start_time").hide();
            $("#error_modify_test_close_time").html("");
            $("#error_modify_test_close_time").hide();

        }

        function modify() {
            modify_validation();
            if ($("#error_modify_test_name").is(":hidden")
                && $("#error_modify_test_duration").is(":hidden")) {
                var form = new FormData(document.getElementById('test_modify_form'));
                var test_id = $("#test_modify_id").val();
                $.ajax({
                    type: "POST",
                    url: "/Manage/test/test_modify/" + test_id,
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        switch (result) {
                            case 0:
                                $("#error_modify_test_duration").html("考试时长不能为负或大于300分钟");
                                $("#error_modify_test_duration").show();
                                break;
                            case 1:
                                $("#error_modify_test_start_time").html("考试开始时间信息不全");
                                $("#error_modify_test_start_time").show();
                                break;
                            case 2:
                                $("#error_modify_test_close_time").html("考试截止时间信息不全");
                                $("#error_modify_test_close_time").show();
                                break;
                            case 3:
                                $("#error_modify_test_start_time").html("考试年份过大");
                                $("#error_modify_test_start_time").show();
                                break;
                            case 4:
                                $("#error_modify_test_close_time").html("考试年份过大");
                                $("#error_modify_test_close_time").show();
                                break;
                            case 5:
                                $("#error_modify_test_start_time").html("考试开始时间不能早于当前时间");
                                $("#error_modify_test_start_time").show();
                                break;
                            case 6:
                                $("#error_modify_test_close_time").html("考试截止日期不能早于当前时间");
                                $("#error_modify_test_close_time").show();
                                break;
                            case 7:
                                $("#error_modify_test_close_time").html("考试截止日期不能早于开始时间");
                                $("#error_modify_test_close_time").show();
                                break;
                            case 8:
                                $('#dataTables-example').DataTable().ajax.reload();
                                $('#test_modify').modal('hide');
                                break;
                            case 8:
                                alert('结束状态无法进行修改');
                                break;
                            default:
                                alert("validation code not found")
                        }

                    },
                    error: function (result) {
                        alert("test create error")
                    }
                });
            }

        }


        function test_show(test_id) {
            window.location.href = '#'
        }

        function test_delete(test_id) {
            $('#delete_id').val(test_id);
            $('#test_delete').modal('show');
        }

        function delete_ok() {
            var id = $('#delete_id').val();
            $.ajax({
                type: "post",
                url: "/Manage/test/test_delete/" + id,
                success: function (result) {
                    $('#dataTables-example').DataTable().ajax.reload();
                    $('#test_delete').modal('hide');
                },
                error: function (result) {
                    alert('delete error');
                }
            });
        }
    </script>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">考场管理
                    <button type="button" class="btn btn-success"
                            style="float: right;margin: 10px 5px"
                            onclick="test_create()">新建考场
                    </button>
                </h1>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        所有考场
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <th>考场名</th>
                                <th>考卷名</th>
                                <th>考试持续时间(分钟)</th>
                                <th>考试开始时间</th>
                                <th>考试结束时间</th>
                                <th>考试状态</th>
                                <th width="18%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <!-- 模态框（Modal）create -->
    <div class="modal fade" id="test_create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick=""
                            aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">创建考场</h4>
                </div>
                <div class="modal-body">
                    <form method="post" role="form" id="test_create_form" style="margin:10px 30px">
                        <div class="form-group">
                            <label for="name">考场名：</label>
                            <input class="form-control" type="text" name="name" id="test_create_name"/>
                            <p class="error-message" hidden="hidden" style="color: red" id="error_test_name"></p>
                        </div>
                        <div class="form-group">
                            <label for="testpaper">考卷：</label>
                            <select class="form-control" name="testpaper" id="test_create_testpaper">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="duration">考试持续时间(分钟)：</label>
                            <input class="form-control" type="number"
                                   onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" name="duration"
                                   id="test_create_duration"/>
                            <p class="error-message" hidden="hidden" style="color: red" id="error_test_duration"></p>
                        </div>
                        <div class="form-group">
                            <label for="start_time">考试开始时间：</label>
                            <input class="form-control" type="datetime-local" name="start_time"
                                   id="test_create_start_time"/>
                            <p class="error-message" hidden="hidden" style="color: red" id="error_test_start_time"></p>
                        </div>
                        <div class="form-group">
                            <label for="close_time">考试结束时间：</label>
                            <input class="form-control" type="datetime-local" name="close_time"
                                   id="test_create_close_time"/>
                            <p class="error-message" hidden="hidden" style="color: red" id="error_test_close_time"></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="create()">创建</button>
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->
    <!-- 模态框（Modal）modify -->
    <div class="modal fade" id="test_modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick=""
                            aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改考场</h4>
                </div>
                <div class="modal-body">
                    <form method="post" role="form" id="test_modify_form" style="margin:10px 30px">
                        <input id="test_modify_id" hidden="hidden"/>
                        <div class="form-group">
                            <label for="name">考场名：</label>
                            <input class="form-control" type="text" name="name" id="test_modify_name"/>
                            <p class="error-message" hidden="hidden" style="color: red" id="error_modify_test_name"></p>
                        </div>
                        <div class="form-group">
                            <label for="testpaper">考卷：</label>
                            <select class="form-control" name="testpaper" id="test_modify_testpaper">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="duration">考试持续时间(分钟)：</label>
                            <input class="form-control" type="number"
                                   onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)))" name="duration"
                                   id="test_modify_duration"/>
                            <p class="error-message" hidden="hidden" style="color: red"
                               id="error_modify_test_duration"></p>
                        </div>
                        <div class="form-group">
                            <label for="start_time">考试开始时间：</label>
                            <input class="form-control" type="datetime-local" name="start_time"
                                   id="test_modify_start_time"/>
                            <p class="error-message" hidden="hidden" style="color: red"
                               id="error_modify_test_start_time"></p>
                        </div>

                        <div class="form-group">
                            <label for="close_time">考试结束时间：</label>
                            <input class="form-control" type="datetime-local" name="close_time"
                                   id="test_modify_close_time"/>
                            <p class="error-message" hidden="hidden" style="color: red"
                               id="error_modify_test_close_time"></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="modify()">修改</button>
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->
    <!-- 模态框（Modal）delete -->
    <div class="modal fade" id="test_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            onclick="">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">删除考场</h4>
                </div>

                <div class="modal-body">
                    <h5>是否确定删除？</h5>
                    <input hidden="hidden" id="delete_id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-delete" onclick="delete_ok()">删除</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

{% endblock %}

{% block datatable_script %}
    <script>
        $(document).ready(function () {
            var table = $('#dataTables-example').DataTable({
                "ajax": "{% url 'Manage:test_dict' %}",
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button type='button' class='btn btn-warning' name='modify' style='margin-right:5px'>修改</button><button type='button' class='btn btn-success' name='show' style='margin-right:5px'>查看</button><button type='delete' class='btn btn-danger' name='delete''>删除</button>"
                }]
            });
            $('#dataTables-example tbody').on("click", 'button[name="modify"]', function () {
                var data = table.row($(this).parents('tr')).data();
                test_modify(data[6]);
            });
            $('#dataTables-example tbody').on("click", 'button[name="show"]', function () {
                var data = table.row($(this).parents('tr')).data();
                test_show(data[6]);
            });
            $('#dataTables-example tbody').on("click", 'button[name="delete"]', function () {
                var data = table.row($(this).parents('tr')).data();
                test_delete(data[6]);
            });

        });

        $(function () {
            $("#test_create").on("hidden.bs.modal", function () {
                $('#error_test_name').html("");
                $('#error_test_name').hide();
                $("#error_test_duration").html("");
                $("#error_test_duration").hide();
                $("#error_test_start_time").html("");
                $("#error_test_start_time").hide();
                $("#error_test_close_time").html("");
                $("#error_test_close_time").hide();
                $('#test_create_name').val("");
                $('#test_create_duration').val("");
                $('#test_create_close_time').val("");
                $('#test_create_start_time').val("");
            });
            $("#test_modify").on("hidden.bs.modal", function () {
                $('#error_modify_test_name').html("");
                $('#error_modify_test_name').hide();
                $("#error_modify_test_duration").html("");
                $("#error_modify_test_duration").hide();
                $("#error_modify_test_start_time").html("");
                $("#error_modify_test_start_time").hide();
                $("#error_modify_test_close_time").html("");
                $("#error_modify_test_close_time").hide();
                $('#test_modify_name').removeAttr('disabled');
                $('#test_modify_duration').removeAttr('disabled');
                $('#test_modify_testpaper').removeAttr('disabled');
                $('#test_modify_start_time').removeAttr('disabled');
                $('#test_modify_close_time').removeAttr('disabled');
            });
        });

    </script>
{% endblock %}