{% extends 'backend/base_page.html' %}
{% block title %}
    病例管理
{% endblock %}
{% block main_content %}
    <script>
        function delete_confirm(disease_example_id) {
            $('#delete_id').val(disease_example_id);
            $('#delete').modal('show');
        }

        function delete_ok() {
            var id = $("#delete_id").val();
            $.ajax({
                type: "post",
                url: "disease_example_delete/" + id,
                success: function (result) {
                    $('#dataTables-example').DataTable().ajax.reload();
                    $('#delete').modal('hide');
                },
                error: function (result) {
                    alert('delete error');
                }
            });
        }

        function disease_example_detail_show(disease_example_id) {
            window.location.href = 'disease_example_detail/' + disease_example_id;
        }

        function getSubDiseaseOptions(disease_id, type) {
            $.ajax({
                type: "POST",
                url: "/Manage/test/sub_disease_dict/" + disease_id,
                success: function (result) {
                    result = JSON.parse(result);
                    if (type == 'create') {
                        $("#disease_example_create").find("#subdisease_create").empty();
                        $.each(result, function (id, name) {
                            $("#subdisease_create").append($("<option>").val(id).text(name))
                        });
                    }
                    else if(type=='modify'){
                        $("#disease_example_modify").find("#subdisease_modify").empty();
                        $.each(result, function (id, name) {
                            $("#subdisease_modify").append($("<option>").val(id).text(name));
                        });
                    }
                }
                ,
                error: function (result) {
                    alert('error');
                }
            });
        }

        function create_disease_example_show() {
            $.ajax({
                type: "POST",
                url: "{% url "Manage:disease_example_create_dict" %}",
                success: function (result) {
                    result = JSON.parse(result);
                    $.each(result.disease_all, function (id, name) {
                        $("#disease_example_create").find('#disease_create').append($("<option>").val(id).text(name));
                    });
                    $.each(result.sub_disease_all, function (id, name) {
                        $("#disease_example_create").find('#subdisease_create').append($("<option>").val(id).text(name));
                    });
                    $("#create").modal('show');
                },
                error: function (result) {
                    alert('create error');
                }
            });
        }

        function create_validation() {
            if ($("#disease_example_create").find('#disease_example_name_create').val() == '') {
                $("#disease_example_create").find('#error_disease_example_name').html('病例名称不能为空');
                $("#disease_example_create").find('#error_disease_example_name').show();
            }
            else {
                $("#disease_example_create").find('#error_disease_example_name').html('');
                $("#disease_example_create").find('#error_disease_example_name').hide();
            }
        }

        function create_disease_example() {
            create_validation();
            if ($("#disease_example_create").find('#error_disease_example_name').is(':hidden')) {
                var form = new FormData(document.getElementById('disease_example_create'));

                $.ajax({
                    type: "post",
                    url: "{% url 'Manage:disease_example_create' %}",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == false) {
                            $("#disease_example_create").find('#error_disease_example_name').html('病例名称重复');
                            $("#disease_example_create").find('#error_disease_example_name').show();
                        } else {
                            $('#dataTables-example').DataTable().ajax.reload();
                            clean_create();
                        }
                    },
                    error: function (result) {
                        alert('create error');
                    }
                });
            }
        }

        function create_disease_example_and_add_process() {
            create_validation();
            if ($("#disease_example_create").find('#error_disease_example_name').is(':hidden')) {
                var form = new FormData(document.getElementById('disease_example_create'));

                $.ajax({
                    type: "post",
                    url: "{% url 'Manage:disease_example_create' %}",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == false) {
                            $("#disease_example_create").find('#error_disease_example_name').html('病例名称重复');
                            $("#disease_example_create").find('#error_disease_example_name').show();
                        } else {
                            $('#dataTables-example').DataTable().ajax.reload();
                            clean_create();
                            add_process_show(result);
                        }
                    },
                    error: function (result) {
                        alert('create error');
                    }
                });
            }
        }

        function clean_create() {
            $("#disease_example_create").find('#disease_example_name_create').val('');
            $("#disease_example_create").find('#error_disease_example_name').html('');
            $("#disease_example_create").find('#error_disease_example_name').hide();
            $("#disease_example_create").find("#disease_create").empty();
            $("#disease_example_create").find("#subdisease_create").empty();
            $("#create").modal('hide');
        }

        function add_process_show(disease_example_id) {
            $("#process_create").find("#process_disease_example_id").val(disease_example_id);
            $("#process_create").modal('show');
        }

        function create_process_validation() {
            if ($("#process_create").find('#process_name').val() == '') {
                $("#process_create").find('#error_process_name').html("过程名称不能为空");
                $("#process_create").find('#error_process_name').show();
            }
            else {
                $("#process_create").find('#error_process_name').html("");
                $("#process_create").find('#error_process_name').hide();
            }
            if ($("#process_create").find('#process_desc').val() == '') {
                $("#process_create").find('#error_process_desc').html("过程描述不能为空");
                $("#process_create").find('#error_process_desc').show();
            }
            else {
                $("#process_create").find('#error_process_desc').html("");
                $("#process_create").find('#error_process_desc').hide();
            }
        }

        function create_process() {
            create_process_validation();
            if ($("#process_create").find('#error_process_name').is(':hidden') &&
                $("#process_create").find('#error_process_desc').is(':hidden')) {
                var form = new FormData(document.getElementById('process_create_form'));

                $.ajax({
                    type: "post",
                    url: "{% url 'Manage:process_create' %}",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == false) {
                            $("#process_create").find('#process_name').html('过程名称重复');
                            $("#process_create").find('#process_name').show();
                        } else {
                            $('#dataTables-example').DataTable().ajax.reload();
                            clean_process_create();
                        }
                    },
                    error: function (result) {
                        alert('create error');
                    }
                });
            }
        }

        function clean_process_create() {
            $("#process_create").find("#process_name").val('');
            $("#process_create").find("#process_desc").val('');
            $("#process_create").find("#process_pics").val('');
            $("#process_create").find("#process_videos").val('');
            $("#process_create").modal('hide');
        }
        function disease_example_modify_show(id) {
            $.ajax({
                type:'POST',
                url:"disease_example_modify_dict/" + id,
                success:function (result) {
                    result = JSON.parse(result);
                    $("#disease_example_id_modify").val(result.id);
                    $("#disease_example_name_modify").val(result.name);
                    $.each(result.diseases, function (id, name) {
                        $('#disease_modify').append($("<option>").val(id).text(name));
                    });
                    $.each(result.sub_diseases, function (id, name) {
                        $('#subdisease_modify').append($("<option>").val(id).text(name))
                    });
                    $('#disease_modify').val(result.disease);
                    $('#subdisease_modify').val(result.sub_disease);
                    $('#modify').modal('show');
                },
                error:function (result) {
                    alert('modify error');
                }
            });
        }
        function modify_validation() {
                 if($('#disease_example_name_modify').val() == '') {
                $('#error_disease_example_name_modify').html('病例名称不能为空');
                $('#error_disease_example_name_modify').show();
            }
            else {
                $('#error_disease_example_name_modify').html('');
                $('#error_disease_example_name_modify').hide();
            }

        }
        function disease_example_modify() {
            modify_validation();
            if($('#error_disease_example_name_modify').is(':hidden'))
            {
                var form = new FormData(document.getElementById('disease_example_modify'));
                $.ajax({
                    type: "post",
                    url: "{% url 'Manage:disease_example_modify' %}",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == false) {
                            $('#error_disease_example_name_modify').html('病例名称重复');
                            $('#error_disease_example_name_modify').show();
                        } else {
                            $('#dataTables-example').DataTable().ajax.reload();
                            clean_modify();
                        }
                    },
                    error: function (result) {
                        alert('modify error');
                    }
                });
            }
        }
        function clean_modify() {
            $('#disease_example_id_modify').val('');
            $('#disease_example_name_modify').val('');
            $('#disease_modify').empty();
            $('#subdisease_modify').empty();
            $('#modify').modal('hide');
        }
    </script>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">病例管理
                    <button type="button" class="btn btn-success"
                            style="float: right;margin: 10px"
                            onclick="create_disease_example_show()">新建病例
                    </button>
                </h1>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        所有病例信息
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <th>名称</th>
                                <th>病大类</th>
                                <th>病小类</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>名称</td>
                                <td>病大类</td>
                                <td>病小类</td>
                                <td>操作</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <!-- 模态框（Modal）create -->
    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="clean_create()"
                            aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">新建病例</h4>
                </div>
                <div class="modal-body">
                    <form method="post" role="form" id="disease_example_create" style="margin:10px 30px">
                        <div class="form-group">
                            <label>病例名称：</label>
                            <input class="form-control" type="text" name="disease_example_name"
                                   id="disease_example_name_create"/>
                            <p class="error-message" id="error_disease_example_name" hidden="hidden" style="color: red">
                                Example
                                block-level help text
                                here.</p>
                        </div>
                        <div class="form-group">
                            <label>所属病大类：</label>
                            <select class="form-control" name="disease" id="disease_create"
                                    onchange="getSubDiseaseOptions(this.value, 'create')">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>所属病小类：</label>
                            <select class="form-control" name="subdisease" id="subdisease_create">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="create_disease_example()">新建
                    </button>
                    <button type="button" class="btn btn-primary" onclick="create_disease_example_and_add_process()">
                        保存并添加过程
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clean_create()">关闭
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal）create process -->
    <div class="modal fade" id="process_create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick=""
                            aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">新建过程</h4>
                </div>
                <div class="modal-body">
                    <form method="post" role="form" id="process_create_form" style="margin:10px 30px">
                        <input type="text" id="process_disease_example_id" name="process_disease_example_id"
                                hidden="hidden"/>
                        <div class="form-group">
                            <label>过程名称：</label>
                            <input class="form-control" type="text" name="process_name" id="process_name"/>
                            <p class="error-message" id="error_process_name" hidden="hidden" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>过程描述：</label>
                            <textarea class="form-control" name="process_desc" id="process_desc" rows="3"></textarea>
                            <p class="error-message" id="error_process_desc" hidden="hidden" style="color: red">
                            </p>
                        </div>
                        <div class="form-group">
                            <label>上传过程图片：</label>
                            <input type="file" name="process_pics" id="process_pics" multiple="multiple"
                                   accept="image/*"/>
                            <p class="error-message" id="error_process_pics" hidden="hidden" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>上传过程视频：</label>
                            <input type="file" name="process_videos" id="process_videos" multiple="multiple"
                                   accept="video/*"/>
                            <p class="error-message" id="error_process_videos" hidden="hidden" style="color: red"></p>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="create_process()">创建并关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="">继续添加过程
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">关闭
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal）delete -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            onclick="">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">删除病例</h4>
                </div>

                <div class="modal-body">
                    <h5>是否确定删除？</h5>
                    <input hidden="hidden" id="delete_id"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-delete" onclick="delete_ok()">删除</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal）edit -->
    <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick=""
                            aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改病例</h4>
                </div>
                <div class="modal-body">
                    <form method="post" role="form" id="disease_example_modify" style="margin:10px 30px">
                        <input id="disease_example_id_modify" name="disease_example_id_modify" hidden="hidden" />
                        <div class="form-group">
                            <label>病例名称：</label>
                            <input class="form-control" type="text" name="disease_example_name_modify"
                                   id="disease_example_name_modify"/>
                            <p class="error-message" id="error_disease_example_name_modify" hidden="hidden"
                               style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>所属病大类：</label>
                            <select class="form-control" name="disease_modify" id="disease_modify"
                                    onchange="getSubDiseaseOptions(this.value, 'modify')">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>所属病小类：</label>
                            <select class="form-control" name="subdisease_modify" id="subdisease_modify">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="disease_example_modify()">
                        保存
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">关闭
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

{% endblock %}

{% block datatable_script %}
    <script>
        $(document).ready(function () {
            var table = $('#dataTables-example').DataTable({
                "ajax": "{% url 'Manage:disease_example_dict' %}",
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button type='button' class='btn btn-success' name='detail' style='margin-right:5px'>详情</button><button type='button' class='btn btn-warning' name='modify' style='margin-right:5px'>修改</button><button type='button' class='btn btn-danger' name='delete'>删除</button>"
                }]
            });
            $('#dataTables-example tbody').on("click", 'button[name="detail"]', function () {
                var data = table.row($(this).parents('tr')).data();
                disease_example_detail_show(data[3]);
            });
            $('#dataTables-example tbody').on("click", 'button[name="modify"]', function () {
                var data = table.row($(this).parents('tr')).data();
                disease_example_modify_show(data[3]);
            });
            $('#dataTables-example tbody').on("click", 'button[name="delete"]', function () {
                var data = table.row($(this).parents('tr')).data();
                delete_confirm(data[3]);
            });
            {#            $('#dataTables-example tbody').on("click", 'button[name="delete"]', function () {#}
            {#                var data = table.row($(this).parents('tr')).data();#}
            {#                delete_confirm(data[4]);#}
            {#            });#}
        });
    </script>
{% endblock %}