{% extends 'front_base.html' %}
{% block page_title %}
    选择疾病种类
{% endblock %}
{% block self_style %}
{% endblock %}
{% block bg_class %}
    agileits-banner-cat
{% endblock %}
{% block title %}
    选择疾病种类
{% endblock %}
{% block container %}
    <div class="container">
        <div class="markets-grids">
            {% for idx in disease %}
                <div class="col-md-4 w3ls-markets-grid">
                    <div class="agileits-icon-grid">
                        <a href="/Disease/{{ idx.id }}/select_subdisease">
                            <div class="icon-left">
                                <i class="fa fa-{% if idx.id == 1 %}eyedropper{% endif %}{% if idx.id == 2 %}bug{% endif %}{% if idx.id == 3 %}medkit{% endif %}{% if idx.id == 4 %}bed{% endif %}{% if idx.id == 5 %}calendar-plus-o{% endif %}{% if idx.id == 6 %}shield{% endif %}"
                                   aria-hidden="true"></i>
                            </div>
                            <div class="icon-right">
                                <h2 style="color: white;">{{ idx.name }}</h2>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
        <div align="center">
            <a class="button button-isi" href="/index"
               style="margin-bottom: 45px;margin-top: 70px;">
                <i class="icon glyphicon glyphicon-arrow-left"></i>
                <span>返回</span>
            </a>
        </div>
    </div>
{% endblock %}
{% block other_content %}
{% endblock %}
{% block script %}
{% endblock %}