{% extends 'front_base.html' %}
{% block page_title %}
    {{ subdisease.name }}
{% endblock %}
{% block self_style %}
{% endblock %}
{% block bg_class %}
    agileits-banner-cat
{% endblock %}
{% block title %}
    {{ subdisease.name }}
{% endblock %}
{% block container %}
    <div class="container">
        <div class="">
            <h4 class="subdisease-desc">{{ subdisease.desc }}</h4>
            <div class="container">
                <h3 class="agileits-title two" style="margin-top: 30px">相关病例</h3>
                <div class="gallery-agileinfo" style="margin-left: 10%;margin-right: 10%;">
                    <ul>
                        {% for disease_example in disease_examples %}
                            <li style="display: inline;list-style-type: none;">
                                <div class="col-sm-4 col-xs-6 w3gallery-grids">
                                    <a href="{% url 'Disease:disease_example_desc' disease_example.id %}"
                                       class="imghvr-hinge-right figure">
                                        <img src="/static/images/g1.jpg" alt=""
                                             title="Pets Care Image"/>
                                        <div class="agile-figcaption">
                                            <h4 style="color:white">{{ disease_example.name }}</h4>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <a class="button button-isi" href="/Disease/{{ subdisease.disease.name }}/select_subdisease"
           style="margin-bottom: 45px;margin-top: 70px;">
            <i class="icon glyphicon glyphicon-arrow-left"></i>
            <span>返回</span>
        </a>
    </div>
{% endblock %}
{% block other_content %}
{% endblock %}
{% block script %}
{% endblock %}
