{% extends 'front_base.html' %}
{% block page_title %}
    2D导览
{% endblock %}
{% block bg_class %}
    agileits-banner-cat
{% endblock %}
{% block title %}
    2D导览
{% endblock %}
{% block container %}
    <div class="container">
        <div class="markets-grids" align="center">

            <div class="agile_cat_grid_tags" style="margin-top: 30px">
                <ul>
                    {% for room in rooms %}
                        <li><a href="#" onclick="show_room_detail({{ room.id }})">{{ room.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <img height="500px" width="600px" src="/static/images/2D_Navi.jpg" alt=""/>
        </div>
        <div align="center">
            <a class="button button-isi" href="/index"
               style="margin-bottom: 45px;margin-top: 70px;">
                <i class="icon glyphicon glyphicon-arrow-left"></i>
                <span>返回</span>
            </a>
        </div>
    </div>
{% endblock %}
{% block other_content %}
    <!-- Modal1 -->
    <div class="modal fade" id="2D_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form id='medicine_create' method="post" style="margin:10px 40px">
                        <div class="form-group" style="margin-top: 40px">
                            <label>科室名称：</label>
                            {#                        <p id="2D_room_name1"></p>#}
                            <input style="margin-top: 10px" class="form-control" type="text" name="name"
                                   id="2D_room_name"
                                   readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label>科室概述：</label>
                            {#                        <p id="2D_room_desc1"></p>#}
                            <textarea style="margin-top: 10px" class="form-control" rows="3" name="desc"
                                      id="2D_room_desc"
                                      readonly="readonly"></textarea>
                        </div>
                        <div align="center">
                            <a href="{% url 'Navigation:hall' %}" class="button button-isi"
                               style="margin-bottom: 30px;margin-top: 10px;">
                                <span>前往3D导览</span>
                                <i class="icon glyphicon glyphicon-arrow-right"></i>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- //Modal1 -->
{% endblock %}
{% block script %}
    <script>
        function show_room_detail(id) {
            $.ajax({
                type: "post",
                url: "TwoD_getRooms/" + id,
                success: function (result) {
                    result = JSON.parse(result);
                    $('#2D_room_name').val(result.room_name);
                    $('#2D_room_desc').val(result.room_desc);
                    {#$('#2D_room_name1').html(result.room_name);#}
                    {#$('#2D_room_desc1').html(result.room_desc);#}
                    $('#2D_Modal').modal('show');
                },
                error: function (result) {
                    alert('get_room error');
                }
            });
        }
    </script>
{% endblock %}
