{% extends 'backend/base_page.html' %}
{% block main_content %}
    <script>
        function delete_confirm(user_id) {
            var r = confirm("确认删除？");
            if (r) {
                window.location.href = 'delete/' + user_id;
            }
        }

        function editInfo(id) {
            //获取表格中的一行数据
            var email = document.getElementById("user" + id).cells[0].innerText;
            var name = document.getElementById("user" + id).cells[1].innerText;
            var password = document.getElementById("user" + id).cells[2].innerText;
            var authority = document.getElementById("user" + id).cells[3].innerText;
            //向模态框中传值
            $('#id').val(id);
            $('#email').val(email);
            $('#name').val(name);
            $('#password').val(password);
            if (authority == '管理员') {
                document.getElementById('administrator').checked = true;
            } else {
                document.getElementById('intern').checked = true;
            }
            $('#update').modal('show');
        }

        function update() {
            //获取模态框数据
            var id = $('#id').val();
            var email = $('#email').val();
            var name = $('#name').val();
            var password = $('#password').val();
            var authority = $('input:radio[name="authority"]:checked').val();
            $.ajax({
                type: "post",
                url: "update/" + id,
                data: {'email': email, 'name': name, 'password': password, 'authority': authority},
                dataType: 'html',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (result) {
                    result = JSON.parse(result);
                    $('#update').modal('hide');
                    document.getElementById("user" + id).cells[0].innerText = result.email;
                    document.getElementById("user" + id).cells[1].innerText = result.name;
                    document.getElementById("user" + id).cells[2].innerText = result.password;
                    if (result.authority == 0)
                        document.getElementById("user" + id).cells[3].innerText = '实习生';
                    else
                        document.getElementById("user" + id).cells[3].innerText = '管理员';

                },
                error: function (result) {
                    alert(result)
                }
            });
        }

        function createUser() {
            $('#create').modal('show');
        }

        function create() {
            $('#create').modal('hide');
            $("#user_create").submit();
        }
    </script>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">用户管理
                    <button type="button" class="btn btn-success"
                            style="float: right;margin: 10px" onclick="createUser()">创建用户
                    </button>
                </h1>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        所有用户信息
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Password</th>
                                <th>Authority</th>
                                <th>Operation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr id='user{{ user.id }}'>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.password }}</td>
                                    <td>{% if user.authority == 0 %}
                                        实习生
                                    {% else %}
                                        管理员
                                    {% endif %}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-warning" onclick="editInfo({{ user.id }})">
                                            修改
                                        </button>
                                        <button type="button" class="btn btn-danger"
                                                onclick="delete_confirm({{ user.id }})">删除
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <!-- 模态框（Modal）edit -->
    <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">修改信息</h4>
                </div>
                <form></form>
                <div class="modal-body">
                    <input type="text" name="id" id="id" hidden="hidden"/>
                    邮箱：<input type="text" name="email" id="email"/>
                    姓名：<input type="text" name="name" id="name"/>
                    密码：<input type="text" name="password" id="password"/>
                    权限：<input type="radio" name="authority" class="authority" id="intern" value="0"/>实习生
                    <input type="radio" name="authority" class="authority" id="administrator" value="1"/>管理员
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="update()">提交更改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal）create -->
    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">创建用户</h4>
                </div>
                <form id='user_create' method="post" action="{% url 'Manage:user_create' %}">
                    <div class="modal-body">
                        邮箱：<input type="text" name="_email" id="_email"/>
                        姓名：<input type="text" name="_name" id="_name"/>
                        密码：<input type="text" name="_password" id="_password"/>
                        权限：<input type="radio" name="_authority" class="authority" id="_intern" value="0"/>实习生
                        <input type="radio" name="_authority" class="authority" id="_administrator" value="1"/>管理员
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="create()">创建</button>
                    </div>
                </form>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

{% endblock %}

