{% extends 'backend/base_page.html' %}
{% block main_content %}
    <script>
        function delete_confirm(user_id) {
            var r = confirm("确认删除？");
            if (r) {
                $.ajax({
                    url: 'delete/' + user_id, success: function (result) {
                        $('#user'+result).hide();
                    }, error: function (result) {
                            alert("delete error")
                    }
                });
            }
        }
    </script>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">用户管理</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        所有用户信息
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Email</th>
                                <th>Name</th>
                                <th>Authority</th>
                                <th>Password</th>
                                <th>Operation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr id='user{{ user.id }}'>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.authority }}</td>
                                    <td>{{ user.password }}</td>
                                    <td>
                                        <button type="button" class="btn btn-warning">修改</button>
                                        <button type="button" class="btn btn-danger"
                                                onclick="delete_confirm({{ user.id }})">删除
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
{% endblock %}

