{% extends 'backend/base_page.html' %}
{% block title %}
    药品管理
{% endblock %}
{% block main_content %}
    <script>

        function delete_confirm(id) {
            $('#delete_id').val(id);
            $('#delete').modal('show');
        }

        function delete_ok() {
            var id = $('#delete_id').val();
            $.ajax({
                type: "post",
                url: "medicine/delete/" + id,
                success: function (result) {
                    $('#dataTables-example').DataTable().ajax.reload();
                    $('#delete').modal('hide');
                },
                error: function (result) {
                    alert('delete error');
                }
            });
        }

        function modify_medicine_show(name, desc, price, id) {
            //向模态框中传值
            $('#name').val(name);
            $('#desc').val(desc);
            $('#price').val(price);
            $('#id').val(id);

            $('#update').modal('show');
        }

         function modify_validation() {
            if ($("#medicine_modify div:eq(0) #name").val() == '') {
                $("#medicine_modify div:eq(0) p").html('请输入药品名称！');
                $("#medicine_modify div:eq(0) p").show();
            }
            else {
                $("#medicine_modify div:eq(0) p").html('');
                $("#medicine_modify div:eq(0) p").hide();
            }

            if ($("#medicine_modify div:eq(1) #desc").val() == '') {
                $("#medicine_modify div:eq(1) p").html('请输入药品概述！');
                $("#medicine_modify div:eq(1) p").show();
            }
            else {
                $("#medicine_modify div:eq(1) p").html('');
                $("#medicine_modify div:eq(1) p").hide();
            }

            var price = /^([0-9.]+)$/;
            if ($("#medicine_modify div:eq(2) #price").val() == '') {
                $("#medicine_modify div:eq(2) p").html('请输入价格！');
                $("#medicine_modify div:eq(2) p").show();
            }
            else if (!price.test($("#medicine_modify div:eq(2) #price").val())) {
                $("#medicine_modify div:eq(2) p").html('价格请输入数字！');
                $("#medicine_modify div:eq(2) p").show();
            }
            else {
                $("#medicine_modify div:eq(2) p").html('');
                $("#medicine_modify div:eq(2) p").hide();
            }


        }

        function modify() {
            modify_validation();
            if ($("#medicine_modify div:eq(0) p").is(":hidden") && $("#medicine_modify div:eq(1) p").is(":hidden")
                && $("#medicine_modify div:eq(2) p").is(":hidden") ) {
                var form = new FormData(document.getElementById('medicine_modify'));
                $.ajax({
                    type: "post",
                    url: "{% url 'Manage:medicine_update' %}",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == false) {

                        } else {
                            $('#dataTables-example').DataTable().ajax.reload();
                            clean_modify();
                            $('#update').modal('hide');
                        }
                    },
                    error: function (result) {
                        alert('update error');
                    }
                });
            }
        }

        function clean_modify() {
            $("#medicine_modify div:eq(0) input").val("");
            $("#medicine_modify div:eq(0) p").html('');
            $("#medicine_modify div:eq(1) textarea").val('');
            $("#medicine_modify div:eq(1) p").html('');
            $("#medicine_modify div:eq(2) input").val("");
            $("#medicine_modify div:eq(2) p").html('');

            $('#update').modal('hide');
        }

        function create_medicine_show() {
            $('#create').modal('show');
        }

        function create_validation() {
            if ($("#medicine_create div:eq(0) #name").val() == '') {
                $("#medicine_create div:eq(0) p").html('请输入药品名称！');
                $("#medicine_create div:eq(0) p").show();
            }
            else {
                $("#medicine_create div:eq(0) p").html('');
                $("#medicine_create div:eq(0) p").hide();
            }

            if ($("#medicine_create div:eq(1) #desc").val() == '') {
                $("#medicine_create div:eq(1) p").html('请输入药品概述！');
                $("#medicine_create div:eq(1) p").show();
            }
            else {
                $("#medicine_create div:eq(1) p").html('');
                $("#medicine_create div:eq(1) p").hide();
            }

            var price = /^([0-9.]+)$/;
            if ($("#medicine_create div:eq(2) #price").val() == '') {
                $("#medicine_create div:eq(2) p").html('请输入价格！');
                $("#medicine_create div:eq(2) p").show();
            }
            else if (!price.test($("#medicine_create div:eq(2) #price").val())) {
                $("#medicine_create div:eq(2) p").html('价格请输入数字！');
                $("#medicine_create div:eq(2) p").show();
            }
            else {
                $("#medicine_create div:eq(2) p").html('');
                $("#medicine_create div:eq(2) p").hide();
            }

        }

        function create() {
            create_validation();
            if ($("#medicine_create div:eq(0) p").is(":hidden") && $("#medicine_create div:eq(1) p").is(":hidden") &&
                $("#medicine_create div:eq(2) p").is(":hidden")) {
                var form = new FormData(document.getElementById('medicine_create'));
                $.ajax({
                    type: "post",
                    url: "{% url 'Manage:medicine_create' %}",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == true) {
                            $('#dataTables-example').DataTable().ajax.reload();
                            create_clean();
                            $('#create').modal('hide');
                        } else {

                        }
                    },
                    error: function (result) {
                        alert('create error');
                    }
                });
            }

        }

        function create_clean() {
            $("#medicine_create div:eq(0) input").val("");
            $("#medicine_create div:eq(0) p").html('');
            $("#medicine_create div:eq(1) textarea").val('');
            $("#medicine_create div:eq(1) p").html('');
            $("#medicine_create div:eq(2) input").val("");
            $("#medicine_create div:eq(2) p").html('');
        }


    </script>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">药品管理
                    <button type="button" class="btn btn-success"
                            style="float: right;margin: 10px" onclick="create_medicine_show()">新建药品
                    </button>
                </h1>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        所有药品信息
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <th>药品名称</th>
                                <th>药品描述</th>
                                <th>价格</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>药品名称</th>
                                <th>药品描述</th>
                                <th>价格</th>
                                <th>操作</th>
                            </tr>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <!-- 模态框（Modal）edit -->
    <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="clean_modify()"
                            aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改信息</h4>
                </div>
                <div class="modal-body">
                    <form method="post" role="form" id="medicine_modify" style="margin:10px 30px">
                        <input type="text" name="id" id="id" hidden="hidden"/>
                        <div class="form-group">
                            <label>药品名称：</label>
                            <input class="form-control" type="text" name="name" id="name"/>
                            <p class="error-message" hidden="hidden" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>药品概述：</label>
                            <textarea class="form-control" rows="3" name="desc" id="desc"></textarea>
                            <p class="error-message" hidden="hidden" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>价格：</label>
                            <input class="form-control" type="text" name="price" id="price"/>
                            <p class="error-message" hidden="hidden" style="color: red"></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clean_modify()">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="modify()">提交更改</button>
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal）create -->
    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            onclick="create_clean()">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">创建药品</h4>
                </div>

                <div class="modal-body">
                    <form id='medicine_create' method="post" style="margin:10px 30px">
                        <div class="form-group">
                            <label>药品名称：</label>
                            <input class="form-control" type="text" name="name" id="name"/>
                            <p class="error-message" hidden="hidden" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>药品概述：</label>
                            <textarea class="form-control" rows="3" name="desc" id="desc"></textarea>
                            <p class="error-message" hidden="hidden" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>价格：</label>
                            <input class="form-control" type="text" name="price" id="price"/>
                            <p class="error-message" hidden="hidden" style="color: red"></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="create_clean()">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="create()">创建</button>
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal）delete -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            onclick="">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">删除人员</h4>
                </div>

                <div class="modal-body">
                    <h5>是否确定删除？</h5>
                    <input hidden="hidden" id="delete_id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-delete" onclick="delete_ok()">删除</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->


{% endblock %}
{% block datatable_script %}
    <script>
        $(document).ready(function () {
            var table = $('#dataTables-example').DataTable({
                "ajax": "{% url 'Manage:medicine_dict' %}",
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button type='button' class='btn btn-warning' name='modify' style='margin-right:5px'>修改<button type='button' class='btn btn-danger' name='delete'>删除</button>"
                }]
            });
            $('#dataTables-example tbody').on("click", 'button[name="modify"]', function () {
                var data = table.row($(this).parents('tr')).data();
                modify_medicine_show(data[0], data[1], data[2], data[3]);
            });
            $('#dataTables-example tbody').on("click", 'button[name="delete"]', function () {
                var data = table.row($(this).parents('tr')).data();
                delete_confirm(data[3]);
            });

        });
    </script>
{% endblock %}