{% extends 'backend/base_page.html' %}
{% block title %}
    科室管理
{% endblock %}
{% block main_content %}
    <script>
        function delete_confirm(id) {
            $('#delete_id').val(id);
            $('#delete').modal('show');
        }

        function delete_ok() {
            var id = $('#delete_id').val();
            $.ajax({
                type: "post",
                url: "room_delete/" + id,
                success: function (result) {
                    $('#dataTables-example').DataTable().ajax.reload();
                    $('#delete').modal('hide');
                },
                error: function (result) {
                    alert('delete error');
                }
            });
        }

        function modify_room_show(roles, id) {
            //向模态框中传值
            $.ajax({
                type: "post",
                url: "room_modify_dict/" + id,
                success: function (result) {
                    result = JSON.parse(result);
                    {#                    TODO: 在修改模态框中预览图片和视频#}
                    $('#name_modify').val(result.name);
                    $('#desc_modify').val(result.desc);
                },
                error: function (result) {
                    alert('error');
                }
            });
            roles.split(' ').forEach(function (room_role) {
                if (room_role == '前台') document.getElementById('proscenium_modify').checked = true;
                else if (room_role == '助理') document.getElementById('assistant_modify').checked = true;
                else if (room_role == '执业兽医师') document.getElementById('veterinary_practitioner_modify').checked = true;
            });
            $('#id_modify').val(id);
            $('#update').modal('show');

        }

        function modify_validation() {
            if ($('#name_modify').val() == '') {
                $("#error_name_modify").html('科室名称不可以为空，请重新输入！');
                $("#error_name_modify").show();
            }
            else {
                $("#error_name_modify").html('');
                $("#error_name_modify").hide();
            }
            if ($("#desc_modify").val() == '') {
                $("#error_desc_modify").html('科室描述不可以为空，请重新输入！');
                $("#error_desc_modify").show();
            }
            else {
                $("#error_desc_modify").html('');
                $("#error_desc_modify").hide();
            }
            if ($('#proscenium_modify').checked == false &&
                $('#assistant_modify').checked == false &&
                ('#veterinary_practitioner_modify').checked == false) {
                $("#error_roomroles_modify").html('请选择科室权限！');
                $("#error_roomroles_modify").show();
            }
            else {
                $("#error_roomroles_modify").html('');
                $("#error_roomroles_modify").hide();
            }
        }

        function modify() {
            modify_validation();
            if ($('#error_name_modify').is(':hidden') &&
                $('#error_desc_modify').is(':hidden') &&
                $("#error_roomroles_modify").is(':hidden')) {
                var form = new FormData(document.getElementById('room_modify'));
                $.ajax({
                    type: "post",
                    url: "{% url 'Manage:room_modify' %}",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == false) {
                            $("#error_name_modify").html('科室已存在，请重新输入！');
                            $("#error_name_modify").show();
                        } else {
                            $('#dataTables-example').DataTable().ajax.reload();
                            clean_modify();
                        }
                    },
                    error: function (result) {
                        alert('update error');
                    }
                });
            }
        }

        function clean_modify() {
            $("#id_modify").val('');
            $("#name_modify").val('');
            $("#error_name_modify").html('');
            $("#error_name_modify").hide('');
            $("#room_pics_modify").val('');
            $("#error_pic_modify").html('');
            $("#error_pic_modify").hide();
            $("#room_videos_modify").val('');
            $("#error_video_modify").html('');
            $("#error_video_modify").hide();
            $("#desc_modify").val('');
            $("#error_desc_modify").html('');
            $("#error_desc_modify").hide();
            $('#proscenium_create').checked = false;
            $('#assistant_create').checked = false;
            $('#veterinary_practitioner_create').checked = false;
            $("#error_roomroles_modify").html('');
            $("#error_roomroles_modify").hide();
            $('#update').modal('hide');
        }

        function create_room_show() {
            $('#create').modal('show');
        }

        function create_validation() {
            if ($("#name_create").val() == '') {
                $("#error_name_create").html('科室名称不可以为空，请重新输入！');
                $("#error_name_create").show();
            }
            else {
                $("#error_name_create").html('');
                $("#error_name_create").hide();
            }
            if ($("#room_pics_create").val() == '') {
                $("#error_pic_create").html('请上传科室图片！');
                $("#error_pic_create").show();
            }
            else {
                $("#error_pic_create").html('');
                $("#error_pic_create").hide();
            }
            if ($("#room_videos_create").val() == '') {
                $("#error_video_create").html('请上传科室视频！');
                $("#error_video_create").show();
            }
            else {
                $("#error_video_create").html('');
                $("#error_video_create").hide();
            }
            if ($("#desc_create").val() == '') {
                $("#error_desc_create").html('科室描述不可以为空，请重新输入！');
                $("#error_desc_create").show();
            }
            else {
                $("#error_desc_create").html('');
                $("#error_desc_create").hide();
            }
            if ($('#proscenium_create').checked == false &&
                $('#assistant_create').checked == false &&
                $('#veterinary_practitioner_create').checked == false) {
                $("#error_roomroles_create").html('请选择科室权限！');
                $("#error_roomroles_create").show();
            }
            else {
                $("#error_roomroles_create").html('');
                $("#error_roomroles_create").hide();
            }


        }

        function create() {
            create_validation();
            if ($("#error_name_create").is(':hidden') && $("#error_pic_create").is(':hidden') && $("#error_video_create").is(':hidden')
                && $("#error_desc_create").is(':hidden') && $("#error_roomroles_create").is(':hidden')) {
                var form = new FormData(document.getElementById('room_create'));
                $.ajax({
                    type: "post",
                    url: "{% url 'Manage:room_create' %}",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == true) {
                            $('#dataTables-example').DataTable().ajax.reload();
                            clean_create();
                        } else {
                            $("#error_name_create").show();
                            $("#error_name_create").html('科室已存在，请重新输入！');
                        }
                    },
                    error: function (result) {
                        alert('update error');
                    }
                });
            }
        }

        function clean_create() {
            $("#name_create").val('');
            $("#error_name_create").html('');
            $("#error_name_create").hide();
            $("#room_pics_create").val('');
            $("#error_pic_create").html('');
            $("#error_pic_create").hide();
            $("#room_videos_create").val('');
            $("#error_video_create").html('');
            $("#error_video_create").hide();
            $("#desc_create").val('');
            $("#error_desc_create").html('');
            $("#error_desc_create").hide();
            $('#proscenium_create').checked = false;
            $('#assistant_create').checked = false;
            $('#veterinary_practitioner_create').checked = false;
            $("#error_roomroles_create").html('');
            $("#error_roomroles_create").hide();
            $('#create').modal('hide');
        }
    </script>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">科室管理
                    <button type="button" class="btn btn-success"
                            style="float: right;margin: 10px" onclick="create_room_show()">新建科室
                    </button>
                </h1>

            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            所有科室信息
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover"
                                   id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>科室名称</th>
                                    <th style="width:60%;">科室简介</th>
                                    <th>科室权限</th>
                                    <th>Operation</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>科室名称</td>
                                    <td style="width:60%;">科室简介</td>
                                    <th>科室权限</th>
                                    <td>Operation</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
    </div>

    <!-- 模态框（Modal）edit -->
    <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="clean_modify()"
                            aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改信息</h4>
                </div>
                <div class="modal-body">
                    <form method="post" role="form" id="room_modify" style="margin:10px 30px">
                        <input type="text" name="id" id="id_modify" hidden="hidden"/>
                        <div class="form-group">
                            <label>科室名称：</label>
                            <input class="form-control" type="text" name="name" id="name_modify"/>
                            <p class="error-message" id="error_name_modify" hidden="hidden" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>科室图片：</label>
                            <input type="file" name="room_pics" id="room_pics_modify" accept="image/*"/>
                            <p class="error-message" hidden="hidden" id="error_pic_modify" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>科室视频：</label>
                            <input type="file" name="room_videos" id="room_videos_modify" accept="video/*"/>
                            <p class="error-message" hidden="hidden" id="error_video_modify" style="color: red">Example
                                block-level help text
                                here.</p>
                        </div>
                        <div class="form-group">
                            <label>科室简介：</label>
                            <textarea class="form-control" name="desc" id="desc_modify" rows="3"></textarea>
                            <p class="error-message" hidden="hidden" id="error_desc_modify" style="color: red">Example
                                block-level help text
                                here.</p>
                        </div>
                        <div class="form-group">
                            <label>科室权限：</label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="proscenium" id="proscenium_modify" value="0">前台
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="assistant" id="assistant_modify" value="1">助理
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="veterinary_practitioner"
                                       id="veterinary_practitioner_modify"
                                       value="2">执业兽医师
                            </label>
                            <p class="error-message" id="error_roomroles_modify" hidden="hidden" style="color: red">
                                Example block-level help text
                                here.</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clean_modify()">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-delete" onclick="modify()">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal）create -->
    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            onclick="clean_create()">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">创建科室</h4>
                </div>

                <div class="modal-body">
                    <form method="post" role="form" id="room_create" style="margin:10px 30px">
                        <input type="text" name="id" id="id" hidden="hidden"/>
                        <div class="form-group">
                            <label>科室名称：</label>
                            <input class="form-control" type="text" name="name" id="name_create"/>
                            <p class="error-message" id="error_name_create" hidden="hidden" style="color: red">Example
                                block-level help text
                                here.</p>
                        </div>
                        <div class="form-group">
                            <label>科室图片：</label>
                            <input type="file" name="room_pics" id="room_pics_create" accept="image/*"/>
                            <p class="error-message" id="error_pic_create" hidden="hidden" style="color: red">Example
                                block-level help text
                                here.</p>
                        </div>
                        <div class="form-group">
                            <label>科室视频：</label>
                            <input type="file" name="room_videos" id="room_videos_create" accept="video/*"/>
                            <p class="error-message" id="error_video_create" hidden="hidden" style="color: red">Example
                                block-level help text
                                here.</p>
                        </div>
                        <div class="form-group">
                            <label>科室简介：</label>
                            <textarea class="form-control" name="desc" id="desc_create" rows="3"></textarea>
                            <p class="error-message" id="error_desc_create" hidden="hidden" style="color: red">Example
                                block-level help text
                                here.</p>
                        </div>
                        <div class="form-group">
                            <label>科室权限：</label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="proscenium" id="proscenium_create" value="0">前台
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="assistant" id="assistant_create" value="1">助理
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="veterinary_practitioner_create"
                                       id="veterinary_practitioner"
                                       value="2">执业兽医师
                            </label>
                            <p class="error-message" id="error_roomroles_create" hidden="hidden" style="color: red">
                                Example block-level help text
                                here.</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clean_create()">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="create()">创建</button>
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal）delete -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            onclick="">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">删除科室</h4>
                </div>

                <div class="modal-body">
                    <h5>是否确定删除？</h5>
                    <input hidden="hidden" id="delete_id"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-delete" onclick="delete_ok()">删除</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

{% endblock %}
{% block datatable_script %}
    <script>
        $(document).ready(function () {
            var table = $('#dataTables-example').DataTable({
                "ajax": "{% url 'Manage:room_dict' %}",
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button type='button' class='btn btn-warning' name='modify' style='margin-right:5px'>修改<button type='button' class='btn btn-danger' name='delete'>删除</button>"
                }]
            });
            $('#dataTables-example tbody').on("click", 'button[name="modify"]', function () {
                var data = table.row($(this).parents('tr')).data();
                modify_room_show(data[2], data[3]);
            });
            $('#dataTables-example tbody').on("click", 'button[name="delete"]', function () {
                var data = table.row($(this).parents('tr')).data();
                delete_confirm(data[3]);
            });
            $("#create").on("hidden.bs.modal", function () {
                clean_create();
            });
            $("#update").on("hidden.bs.modal", function () {
                clean_modify();
            });
        });
    </script>
{% endblock %}