{% extends 'backend/base_page.html' %}
{% block title %}
    疫苗管理
{% endblock %}
{% block main_content %}
    <script>

        function delete_confirm(id) {
            $('#delete_id').val(id);
            $('#delete').modal('show');
        }

        function delete_ok() {
            var id = $('#delete_id').val();
            $.ajax({
                type: "post",
                url: "vaccine_delete/" + id,
                success: function (result) {
                    $('#dataTables-example').DataTable().ajax.reload();
                    $('#delete').modal('hide');
                },
                error: function (result) {
                    alert('delete error');
                }
            });
        }

        function modify_vaccine_show(name, due_date, desc, id) {
            //向模态框中传值
            $('#vaccine_modify #name').val(name);
            $('#vaccine_modify #due_date').val(due_date);
            $('#vaccine_modify #desc').val(desc);
            $('#vaccine_modify #id').val(id);
            $('#update').modal('show');
        }

        function modify_validation() {
            if ($("#vaccine_modify div:eq(0) #name").val() == '') {
                $("#vaccine_modify div:eq(0) p").html('请输入疫苗名称');
                $("#vaccine_modify div:eq(0) p").show();
            }
            else
                $("#vaccine_modify div:eq(0) p").hide();
            var myDate = new Date();
            var dueDate = $('#vaccine_modify #due_date').val().split('-');
            if (parseInt(dueDate[0]) < parseInt(myDate.getFullYear())) {
                $("#vaccine_modify div:eq(1) p").html('疫苗到期时间有误，请重新输入！');
                $("#vaccine_modify div:eq(1) p").show();
            }
            else if (parseInt(dueDate[0]) == parseInt(myDate.getFullYear())) {
                if (parseInt(dueDate[1]) < parseInt(myDate.getMonth()) + 1) {
                    $("#vaccine_modify div:eq(1) p").html('疫苗到期时间有误，请重新输入！');
                    $("#vaccine_modify div:eq(1) p").show();
                }
                else if (parseInt(dueDate[1]) == parseInt(myDate.getMonth()) + 1) {
                    if (parseInt(dueDate[2]) < parseInt(myDate.getDate())) {
                        $("#vaccine_modify div:eq(1) p").html('疫苗到期时间有误，请重新输入！');
                        $("#vaccine_modify div:eq(1) p").show();
                    }
                    else
                        $("#vaccine_modify div:eq(1) p").hide();
                }
                else
                    $("#vaccine_modify div:eq(1) p").hide();
            }
            else
                $("#vaccine_modify div:eq(1) p").hide();

            if ($("#vaccine_modify div:eq(2) #desc").val() == '') {
                $("#vaccine_modify div:eq(2) p").html('请输入疫苗描述');
                $("#vaccine_modify div:eq(2) p").show();
            }
            else
                $("#vaccine_modify div:eq(2) p").hide();
        }

        function modify() {
            modify_validation();
            if ($("#vaccine_modify div:eq(0) p").is(":hidden") && $("#vaccine_modify div:eq(1) p").is(":hidden")
                && $("#vaccine_modify div:eq(2) p").is(":hidden")) {
                var form = new FormData(document.getElementById('vaccine_modify'));
                $.ajax({
                    type: "post",
                    url: "{% url 'Manage:vaccine_modify' %}",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == false) {
                            $("#vaccine_modify div:eq(0) p").html('疫苗已存在，请重新输入！');
                            $("#vaccine_modify div:eq(0) p").show();
                        } else {
                            $("#vaccine_modify div:eq(0) p").hide();
                            $('#dataTables-example').DataTable().ajax.reload();
                            $('#update').modal('hide');
                        }
                    },
                    error: function (result) {
                        alert('update error');
                    }
                });
            }
        }

        function create_vaccine_show() {
            var today = new Date();
            var year = today.getFullYear();
            var day = today.getDate();
            if (today.getMonth() < 9)
                var month = '0' + (today.getMonth() + 1);
            else
                month = today.getMonth() + 1;
            if (today.getDate() < 10)
                day = '0' + today.getDate();
            var sToday = year + '-' + month + '-' + day;
            $('#vaccine_create #due_date').val(sToday);

            $('#create').modal('show');
        }

        function create_validation() {
            if ($("#vaccine_create div:eq(0) #name").val() == '') {
                $("#vaccine_create div:eq(0) p").html('请输入疫苗名称');
                $("#vaccine_create div:eq(0) p").show();
            }
            else
                $("#vaccine_create div:eq(0) p").hide();
            var myDate = new Date();
            var dueDate = $('#vaccine_create #due_date').val().split('-');
            if (parseInt(dueDate[0]) < parseInt(myDate.getFullYear())) {
                $("#vaccine_create div:eq(1) p").html('疫苗到期时间有误，请重新输入！');
                $("#vaccine_create div:eq(1) p").show();
            }
            else if (parseInt(dueDate[0]) == parseInt(myDate.getFullYear())) {
                if (parseInt(dueDate[1]) < parseInt(myDate.getMonth()) + 1) {
                    $("#vaccine_create div:eq(1) p").html('疫苗到期时间有误，请重新输入！');
                    $("#vaccine_create div:eq(1) p").show();
                }
                else if (parseInt(dueDate[1]) == parseInt(myDate.getMonth()) + 1) {
                    if (parseInt(dueDate[2]) < parseInt(myDate.getDate())) {
                        $("#vaccine_create div:eq(1) p").html('疫苗到期时间有误，请重新输入！');
                        $("#vaccine_create div:eq(1) p").show();
                    }
                    else
                        $("#vaccine_create div:eq(1) p").hide();
                }
                else
                    $("#vaccine_create div:eq(1) p").hide();
            }
            else
                $("#vaccine_create div:eq(1) p").hide();

            if ($("#vaccine_create div:eq(2) #desc").val() == '') {
                $("#vaccine_create div:eq(2) p").html('请输入疫苗描述');
                $("#vaccine_create div:eq(2) p").show();
            }
            else
                $("#vaccine_create div:eq(2) p").hide();

        }

        function create() {
            create_validation();
            if ($("#vaccine_create div:eq(0) p").is(":hidden") && $("#vaccine_create div:eq(1) p").is(":hidden")
                && $("#vaccine_create div:eq(2) p").is(":hidden")) {
                var form = new FormData(document.getElementById('vaccine_create'));
                $.ajax({
                    type: "post",
                    url: "{% url 'Manage:vaccine_create' %}",
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == true) {
                            $('#dataTables-example').DataTable().ajax.reload();
                            $('#create').modal('hide');
                        } else {
                            $("#vaccine_create div:eq(0) p").show();
                            $("#vaccine_create div:eq(0) p").html('疫苗已存在，请重新输入！');
                        }
                    },
                    error: function (result) {
                        alert('update error');
                    }
                });
            }
        }

    </script>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">疫苗管理
                    <button type="button" class="btn btn-success"
                            style="float: right;margin: 10px" onclick="create_vaccine_show()">新建疫苗
                    </button>
                </h1>

            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            所有疫苗信息
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover"
                                   id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>疫苗名称</th>
                                    <th>疫苗到期时间</th>
                                    <th style="width:50%;">疫苗描述</th>
                                    <th>Operation</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>疫苗名称</th>
                                    <th>疫苗到期时间</th>
                                    <th style="width:50%;">疫苗描述</th>
                                    <td>Operation</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
    </div>

    <!-- 模态框（Modal）edit -->
    <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">修改信息</h4>
                </div>
                <div class="modal-body">
                    <form method="post" role="form" id="vaccine_modify" style="margin:10px 30px">
                        <input type="text" name="id" id="id" hidden="hidden"/>
                        <div class="form-group">
                            <label>疫苗名称：</label>
                            <input class="form-control" type="text" name="name" id="name"/>
                            <p class="error-message" hidden="hidden" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>疫苗到期时间：</label>
                            <input class="form-control" type="date" name="due_date" id="due_date"/>
                            <p class="error-message" hidden="hidden" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>疫苗描述：</label>
                            <textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
                            <p class="error-message" hidden="hidden" style="color: red"></p>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-delete" onclick="modify()">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal）create -->
    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">新建疫苗</h4>
                </div>
                <div class="modal-body">
                    <form method="post" role="form" id="vaccine_create" style="margin:10px 30px">
                        <input type="text" name="id" id="id" hidden="hidden"/>
                        <div class="form-group">
                            <label>疫苗名称：</label>
                            <input class="form-control" type="text" name="name" id="name"/>
                            <p class="error-message" hidden="hidden" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>疫苗到期时间：</label>
                            <input class="form-control" type="date" name="due_date" id="due_date"/>
                            <p class="error-message" hidden="hidden" style="color: red"></p>
                        </div>
                        <div class="form-group">
                            <label>疫苗描述：</label>
                            <textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
                            <p class="error-message" hidden="hidden" style="color: red">
                            <p>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-delete" onclick="create()">新建</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal）delete -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            onclick="">
                        ×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">删除疫苗</h4>
                </div>

                <div class="modal-body">
                    <h5>是否确定删除？</h5>
                    <input hidden="hidden" id="delete_id"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="btn-delete" onclick="delete_ok()">删除</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

{% endblock %}
{% block datatable_script %}
    <script>
        $(document).ready(function () {
            var table = $('#dataTables-example').DataTable({
                "ajax": "{% url 'Manage:vaccine_dict' %}",
                "columnDefs": [{
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button type='button' class='btn btn-warning' name='modify' style='margin-right:5px'>修改<button type='button' class='btn btn-danger' name='delete'>删除</button>"
                }]
            });
            $('#dataTables-example tbody').on("click", 'button[name="modify"]', function () {
                var data = table.row($(this).parents('tr')).data();
                modify_vaccine_show(data[0], data[1], data[2], data[3]);
            });
            $('#dataTables-example tbody').on("click", 'button[name="delete"]', function () {
                var data = table.row($(this).parents('tr')).data();
                delete_confirm(data[3]);
            });
            $("#create").on("hidden.bs.modal", function () {
                $("#vaccine_create div:eq(0) input").val('');
                $("#vaccine_create div:eq(0) p").html('');
                $("#vaccine_create div:eq(1) input").val('');
                $("#vaccine_create div:eq(1) p").html('');
                $("#vaccine_create div:eq(2) textarea").val('');
                $("#vaccine_create div:eq(2) p").html('');
            });
            $("#update").on("hidden.bs.modal", function () {
                $("#vaccine_modify div:eq(0) input").val('');
                $("#vaccine_modify div:eq(0) p").html('');
                $("#vaccine_modify div:eq(1) input").val('');
                $("#vaccine_modify div:eq(1) p").html('');
                $("#vaccine_modify div:eq(2) textarea").val('');
                $("#vaccine_modify div:eq(2) p").html('');
            });
        });
    </script>
{% endblock %}