<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paper</title>
    <script src="/static/js/jquery-2.2.3.min.js"></script>
    <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/test.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <style>
        .hasBeenAnswer {
            background: #5d9cec;
            color: #fff;
        }

    </style>
</head>
<body>

<div class="main">
    <!--nr start-->
    <div class="test_main">
        <div class="nr_left">
            <div class="test">
                <form action="{% url 'Test:paper' %}" method="POST" onsubmit="return submitcheck()" name="answer">
                    {% csrf_token %}
                    <div class="test_title">
                        <p class="test_time">
                            <b id="remainTime"></b>
                        </p>
                        <font><input type="submit"  value="交卷" id="submit_button"></font>
                    </div>
                    <div class="test_content">
                        <div class="test_content_title">
                            <h2>单选题</h2>
                            <p>
                                <span>共</span><i class="content_lit" style="margin-left:5px;margin-right:5px; ">{{ questiones.count }}</i><span>题</span>
                            </p>
                        </div>
                    </div>
                    <div class="test_content_nr">
                        <ul>
                            {% for question in questiones %}
                            <li id="question_{{ question.id }}">
                                <div class="test_content_nr_tt">
                                    <i>{{ forloop.counter }}</i><span>({{ question.score }}分)</span>{{ question.text }}
                                </div>
                                <div class="test_content_nr_main">
                                    <ul>
                                    {% for choice in choice %}
                                        {% if choice.question == question %}
                                            <li class="option" onchange="choose_answer({{ question.id }})">
                                                <input type="radio" value="{{ choice.id }}" name="{{ question.id }}"/>
                                                <label style="margin-left: 10px;">{{ choice.text }}</label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </form>
            </div>

        </div>
        <div class="nr_right">
            <div class="nr_rt_main">
                <div class="rt_nr1">
                    <div class="rt_nr1_title">
                        <h1>
                            <i class="fa fa-calendar-o"></i>答题卡
                        </h1>
                        <p class="test_time">
                            <i class="fa fa-clock-o"></i><b id="remainTime_sub"></b>
                        </p>
                    </div>

                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <h2>考试科目：</h2>
                            <p><span>{{ selectedtest.test_paper.disease }}</span></p>
                        </div>
                        <div class="rt_content_tt">
                            <h2>考试时间：</h2>
                            <p><span>{{ selectedtest.duration }}</span></p>
                        </div>
                        <div class="rt_content_tt">
                            <h2>说明：</h2>
                            <p><span>{{ selectedtest.test_paper.desc }}</span></p>
                        </div>
                    </div>

                    <div class="rt_content">
                        <div class="rt_content_tt">
                            <h2>单选题</h2>
                            <p>
                                <span>共</span><i class="content_lit" style="margin-left:5px;margin-right:5px; ">{{ questiones.count }}</i><span>题</span>
                            </p>
                        </div>
                        <div class="rt_content_nr answerSheet">
                            <ul>
                                {% for question in questiones %}
                                    <li><a href="#{{ question.id }}"
                                           id="show_{{ question.id }}">{{ forloop.counter }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--nr end-->
    <div class="foot"></div>
</div>


<!--
<div class="container">
    <div style="width: 60%;margin: 0 auto;">
        <h1 style="text-align: center;margin-top: 20px;">考试</h1>
        <br>
        <p>考试科目：{{ selectedtest.test_paper.disease }}</p>
        <p id="remainTime">考试时间：</p>
        <P>截止时间：{{ selectedtest.close_time }}</P>
        <p>考试说明：{{ selectedtest.test_paper.desc }}</p>
    </div>
    <div style="width: 60%;margin: 0 auto;">
        <form action="{% url 'Test:paper' %}" method="POST" onsubmit="return submitcheck()" name="answer">
            {% csrf_token %}
            {% for question in questiones %}
                <hr style="height: 1px;border:none;border-top:1px dashed; margin-top: 20px;">
                <li>{{ forloop.counter }}. {{ question.text }}<br/>
                    {% for choice in choice %}
                        {% if choice.question == question %}
                            <input type="radio" style="margin-right: 10px;" value="{{ choice.id }}"
                                   name="{{ question.id }}"/><label> {{ choice.text }}</label><br/>
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
            <div style="text-align: center;margin-top: 30px;margin-bottom: 70px;">
                <input id="submit_button" type="submit">
            </div>
        </form>
    </div>
</div>-->
<script type="text/javascript">
    if (!localStorage.getItem('start') || localStorage.getItem('username')!= '{{ request.session.username }}'){
        localStorage.setItem('username', '{{ request.session.username }}');
        localStorage.setItem('start', new Date().getTime());
    }

    force_submit = false;

    function submitcheck() {
        if (force_submit == true || confirm("确认提交") == true)
            return true;
        else
            return false;
    }

    $(document).ready(function () {
        //这里获取倒计时的起始时间
        SysSecond = {{ selectedtest.duration }}*60;
        currentTime = new Date();
        dif = currentTime.getTime() - localStorage.getItem('start');
        SysSecond -= dif / 1000;
        if (SysSecond != "" && !isNaN(SysSecond)) {
            InterValObj = window.setInterval(SetRemainTime, 1000); //间隔函数，1秒执行
        }
    });

    function padLeft(str, length) {
        if (str.length >= length)
            return str;
        else
            return padLeft("0" + str, length);
    }

    function SetRemainTime() {

        if (SysSecond > 0) {
            SysSecond = SysSecond - 1;
            var second = padLeft(Math.floor(SysSecond % 60), 1);             // 计算秒
            var minute = padLeft(Math.floor((SysSecond / 60) % 60), 1);      //计算分
            var hour = Math.floor((SysSecond / 3600) % 24);      //计算小时
            //var day = Math.floor((SysSecond / 3600) / 24);        //计算天

            $("#remainTime").html("剩余时间：" + hour + ":" + minute + ":" + second);
            $("#remainTime_sub").html(hour + ":" + minute + ":" + second);
        } else {
            //剩余时间小于或等于0的时候，就停止间隔函数
            alert("Time is up.");
            window.clearInterval(InterValObj);
            //这里可以添加倒计时时间为0后需要执行的事件
            force_submit = true;
            localStorage.clear()
            document.getElementById("submit_button").click();
        }
    }
</script>
<script>
    function choose_answer(x) {
        var cardLi = $("#show_" + x);
        if (!cardLi.hasClass('hasBeenAnswer')) {
            cardLi.addClass('hasBeenAnswer');
        }
    }
</script>
<script src="/static/js/jquery.easy-pie-chart.js"></script>
<!--时间js-->
<script src="/static/js/jquery.countdown.js"></script>
</body>
</html>
