<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Paper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Pets Care Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
    <!-- easy-responsive-tabs -->

    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/static/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Junge" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- //web-fonts -->
</head>
<body>

<div class="agileits-banner">
    <div class="bnr-agileinfo">
        <div class="banner-top w3layouts">
            <div class="container">
                <ul class="agile_top_section">
                    <li>
                        <p> Pet Hospital</p>
                    </li>
                    <li>
                        <p></p>
                    </li>
                    <li>
                        {% if request.session.user_id %}
                            <a class="sign" href="#">{{ request.session.username }}</a>
                            <a class="sign" href="{% url 'sign_out' %}">注销</a>
                        {% else %}
                            <a class="sign" href="{% url 'sign_in' %}" >
                                <i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a>
                            <a class="sign" href="{% url 'sign_up' %}" >
                                <i class="fa fa-sign-in" aria-hidden="true"></i> Sign Up</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <h3 class="agileits-title two" style="margin-top: 60px" id="selectedpaperid">选择试卷</h3>
        <div class="container">
        <div class="markets-grids">
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-eyedropper" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>传染病</h5>
                        <select>
                            {% for test in testpaper %}
                                <option value={{ test.id }}>{{ test.name }}</option>
{#                                {% if test.disease == "传染病" %}#}
{#                                    <option value={{ test.id }}>{{ test.name }}</option>#}
{#                                {% endif %}#}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-bug" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>寄生虫病</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>内科</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-bed" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>外产科疾病</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>常用手术</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <div class="agileits-icon-grid">
                    <div class="icon-left">
                        <i class="fa fa-shield" aria-hidden="true"></i>
                    </div>
                    <div class="icon-right">
                        <h5>免疫</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div align="center">
{#            <form action="" method="post">#}
{#                {% csrf_token %}#}
{#                <input id="selectedpaper" name="selectedpaper" hidden value="">#}
{#                <button href="" class="button button-isi"style="margin-bottom: 45px;margin-top: 70px;"><span>开始考试</span>#}
{#                <i class="icon glyphicon glyphicon-arrow-right"></i></button>#}
{#            </form>#}
        </div>
    </div>
        <div class="banner-top w3layouts">
        </div>
    </div>
</div>


<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/bootstrap.js"></script>
<script type="text/javascript">
function selectpaper(x,y)
{
    document.getElementById("selectedpaper").value=x;
    document.getElementById("selectedpaperid").innerHTML=y+" 试卷："+x;
}
</script>
</body>
</html>
