{% extends 'front_base.html' %}
{% block page_title %}
    选择试卷
{% endblock %}
{% block self_style %}
{% endblock %}
{% block bg_class %}
{% endblock %}
{% block title %}
    选择试卷
{% endblock %}
{% block container %}
    <div class="container">
        <div class="markets-grids">
            {% if request.session.test_id %}
                <div class="col-md-4">
                    <a onclick="selectpaper({{ test.id }})">
                        <div class="subdisease-grid">
                            <h3 class="subdisease-grid-h">{{ test.name }} (考试中)</h3>
                        </div>
                    </a>
                </div>
            {% else %}
                {% for idx in notaviltest %}
                    <div class="col-md-4">
                        <a>
                            <div class="subdisease-grid">

                                <h3 class="subdisease-grid-h">{{ idx.name }}(未开始)</h3>

                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% for idx in test %}
                    <div class="col-md-4">
                        <a onclick="selectpaper({{ idx.id }})">
                            <div class="subdisease-grid">

                                <h3 class="subdisease-grid-h">{{ idx.name }}</h3>

                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="clearfix"></div>
            <div align="center">
                <a href="{% url 'Test:select_disease' %}" class="button button-isi"
                   style="margin-bottom: 45px;margin-top: 70px;">
                    <i class="icon glyphicon glyphicon-arrow-left"></i>
                    <span>返回</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_content %}
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function selectpaper(x) {
            $.ajax({
                type: "POST",
                url: "{% url 'Test:selected_paper' %}",
                data: {test_id: x},
                success: function () {
                    window.location.href = '{% url 'Test:paper' %}'
                }
            })
        }
    </script>
{% endblock %}
