{% extends 'front_base.html' %}
{% block page_title %}
    选择病种
{% endblock %}
{% block self_style %}
{% endblock %}
{% block bg_class %}
    agileits-banner
{% endblock %}
{% block title %}
    选择病种
{% endblock %}
{% block container %}
    <div class="container">
        <div class="markets-grids">
            {% for idx in disease %}
                <div class="col-md-4 w3ls-markets-grid">
                    <div class="agileits-icon-grid">
                        <a href="/Test/{{ idx.name }}/select_paper">
                            <div class="icon-left">
                                <i class="fa fa-{% if idx.id == 1 %}eyedropper{% endif %}{% if idx.id == 2 %}bug{% endif %}{% if idx.id == 3 %}medkit{% endif %}{% if idx.id == 4 %}bed{% endif %}{% if idx.id == 5 %}calendar-plus-o{% endif %}{% if idx.id == 6 %}shield{% endif %}"
                                   aria-hidden="true"></i>
                            </div>
                            <div class="icon-right">
                                <h2 style="color: black;">{{ idx.name }}</h2>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            {% endfor %}

            <div class="clearfix"></div>
            <div align="center">
                <a href="{% url 'Test:test' %}" class="button button-isi"
                   style="margin-bottom: 45px;margin-top: 70px;">
                    <i class="icon glyphicon glyphicon-arrow-left"></i>
                    <span>返回</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_content %}
{% endblock %}
{% block script %}
{% endblock %}