{% extends 'front_base.html' %}
{% block page_title %}
    测试
{% endblock %}
{% block self_style %}
{% endblock %}
{% block bg_class %}
    agileits-banner
{% endblock %}
{% block title %}
    What Do You Want to Do
{% endblock %}
{% block container %}
    <div class="container">
        <div class="markets-grids" align="center">
            <div class="col-md-4 w3ls-markets-grid" style="margin-left: 20%">
                <a href="{% url 'Test:select_disease' %}">
                    <div class="agileits-icon-grid">
                        <div class="icon-left">
                            <i class="fa fa-flask" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right">
                            <h5>选择考卷</h5>
                            <p>Select Paper</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 w3ls-markets-grid">
                <a href="{% url 'Test:result' %}">
                    <div class="agileits-icon-grid">
                        <div class="icon-left">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                        </div>
                        <div class="icon-right">
                            <h5>查询成绩</h5>
                            <p>Results</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
            <div align="center">
                <a href="/index" class="button button-isi"
                   style="margin-bottom: 45px;margin-top: 70px;">
                    <i class="icon glyphicon glyphicon-arrow-left"></i>
                    <span>返回</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block other_content %}
{% endblock %}
{% block script %}
{% endblock %}
