<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Management</title>
    <meta charset="UTF-8">
    <title>Select Paper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Pets Care Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
    <!-- easy-responsive-tabs -->

    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <!-- font-awesome icons -->
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/static/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Junge" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic'
          rel='stylesheet' type='text/css'>
    <!-- //web-fonts -->
</head>
<body>
<!-- banner -->
<div class="agileits-banner about-w3banner">
    <div class="bnr-agileinfo">
        <div class="banner-top w3layouts">
            <div class="container">
                <ul class="agile_top_section">
                    <li>
                        <p> Pets Care Website !</p>
                    </li>
                    <li>
                        <p><span class="glyphicon glyphicon-earphone"></span> +11 999 8888 7777 </p>
                    </li>
                    <li><a class="sign" href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-sign-in"
                                                                                                aria-hidden="true"></i>
                        Sign In</a></li>
                </ul>
            </div>
        </div>
        <div class="banner-w3text w3layouts">
            <h2>Pets Care</h2>
        </div>
    </div>
</div>
<!-- //banner -->
<div class="codes icons main-grid-border">
    <div class="container">
        <div class="grid_3 grid_4">
            <h3 class="agileits-title">测试管理</h3>
            <h3 class="page-header icon-subheading">ABCD</h3>
            <div class="bs-glyphicons">
                <ul class="bs-glyphicons-list">
                    <li>
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        <span class="glyphicon-class">xx管理</span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span class="glyphicon-class">题目管理</span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                        <span class="glyphicon-class">xx管理</span>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-eur" aria-hidden="true"></span>
                        <span class="glyphicon-class">试卷管理</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- subscribe -->
<div class="subscribe wthree-sub">
    <div class="container">
        <h4>Subscribe Now</h4>
        <form action="#" method="post">
            <input type="email" name="email" placeholder="Enter your Email..." required="">
            <input type="submit" value="SUBSCRIBE">
            <div class="clearfix"></div>
        </form>
        <div class="w3lsfoter-icons social-icon">
            <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
        </div>
    </div>
</div>
<!-- //subscribe -->
<!-- copy rights start here -->
<div class="copy-w3right">
    <div class="container">
        <p>© 2018 Pets Care. All Rights Reserved | Design by our Team</p>
    </div>
</div>
<!-- //copy right end here -->
</body>
</html>